spring.application.name=JournalApp
#spring.data.mongodb.host=localhost
#spring.data.mongodb.port=27017
spring.data.mongodb.uri=mongo-uri-string
spring.data.mongodb.database=db-name
spring.data.mongodb.auto-index-creation=true
weather.api.key=
server.servlet.context-path=/journal
#logging.level.JournalApp=DEBUG
#logging.level.root=ERROR

spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=your-email@gmail.com
spring.mail.password=
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true